.DS_Store
*.o
*~
.sconsign.dblite
*.pyc
*.sln
*.vcxproj
*.filters
*.user
*.VC.db
*.VC.opendb
*.exe
*.ilk
*.pdb
*.vs/
*.cd

*.log
*.cache
*.deps
*.lastbuildstate
*.tlog
*.iobj
*.ipdb

AutoBuild/*
build/*
buildDebug/*
.vscode/*
.VSCodeCounter/*

*.ipch
/docs
/console_log.txt
/src/Picker/MouseIntersect.cu
/src/Picker/MouseIntersect.h
/config/ImathConfig.cmake
/config/ImathConfig.h
/config/ImathConfigVersion.cmake
/config/ImathTargets.cmake
*.comp.spv
*.spv

.idea/
cmake-build-*
build-*

imgui.ini
compile_commands.json
log*
.env

asset
tmp

*.so

examples/Cuda/RigidBody/RobotArm_Impulse/screenSave/*.bmp
save_picture
save_picture_256envs
save_picture_ctlFreq1
save_picture_torque